<!DOCTYPE html>
<html>
	<head>
		 
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<!-- 引入 layui.css -->
		<link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">

		<!-- 引入 layui.js -->
		<script src="https://www.layuicdn.com/layui/layui.js"></script>

		<meta name="referrer" content="never">

	</head>
	<body>
		<div class=""></div>
	</body>
	<script type="text/javascript">
		layui.use('flow', function(){
		  var flow = layui.flow;
		  //当你执行这样一个方法时，即对页面中的全部带有 lay-src 的 img 元素开启了懒加载（当然你也可以指定相关 img）
		  flow.lazyimg(); 
		});
	</script>
	 <script src="https://whois.pconline.com.cn/ipJson.jsp"></script>

</html>
